<%- include('../partials/_base.ejs', {title: "Home"}) %>

<body class="parent-container">
  <!-- <%- include('../partials/_navbar.ejs') %> -->
  <div class="child-container sign-up">
    <h1 class="signup-title">Create new account!</h1>
    <form action="/auth/sign-up" method="POST">
      <div class="form-field">
        <label for="username">Username:</label>
        <small>required</small>
        <input type="text" name="username" id="username" required />
      </div>

      <div class="form-field">
        <label for="password">Password:</label>
        <small>required</small>
        <input type="password" name="password" id="password" required />
      </div>

      <div class="form-field">
        <label for="confirmPassword">Confirm Password:</label>
        <small>required</small>
        <input
          type="password"
          name="confirmPassword"
          id="confirmPassword"
          required
        />
      </div>

      <button id="signup-btn" type="submit">Sign up</button>
    </form>
  </div>
</body>
