<%- include('./partials/_base.ejs', {title: "Home"}) %>
<body class="parent-container">
  <div class="child-container">
    <div class="header">
      <h1 class="title">Expen<span id="dollar">$</span>e Tracker</h1>
      <p class="subtitle">Know where your money goes.</p>
      <nav><%- include('./partials/_navbar.ejs') %></nav>
    </div>
    <img
      src="/img/home-page-image.png"
      alt="An image of calculator and money denoting tracking expenses"
    />
  </div>
</body>
