@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-weight: 500;
  font-size: 22px;
}

a:focus,
input:focus,
button:focus {
  outline: none;
}

.parent-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f5;
  font-family: "Poppins", sans-serif;
}

.child-container {
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 900px;
  height: 70%;
}

.title {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 8px;
  letter-spacing: 1px;
}

.subtitle {
  font-size: 20px;
  margin-bottom: 32px;
}

.header {
  display: flex;
  flex-direction: column;
}

#dollar {
  color: green;
}

nav {
  display: inline-flex;
  gap: 32px;
}

nav a,
nav #goback-btn {
  cursor: pointer;
  text-decoration: none;
  background-color: slateblue;
  padding: 6px 12px;
  border: none;
  border-radius: 8px;
  color: #fff;
  outline: none;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.8);
  transition: all 0.3s;
}

nav a:hover,
nav #goback-btn:hover {
  transform: scale(1.05);
}

nav #goback-btn {
  font-family: inherit;
  font-size: inherit;
}

.sign-up,
.sign-in,
.add,
.edit {
  flex-direction: column;
  justify-content: center;
}

.show {
  padding-top: 48px;
  flex-direction: column;
  justify-content: flex-start;
}

.signup-title,
.signin-title,
.add-title,
.edit-title,
.show-title {
  font-weight: 500;
}

.show-title {
  margin-bottom: 12px;
}

form {
  margin-top: 16px;
}

form,
.form-field {
  display: flex;
  flex-direction: column;
}

.form-field {
  margin-bottom: 16px;
  min-width: 250px;
}

.form-field input,
.form-field select,
.form-field textarea {
  font-family: inherit;
  padding: 2px 8px;
  min-height: 36px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: all 0.2s;
}

.form-field input:focus,
.form-field select:focus,
.form-field textarea:focus {
  box-shadow: 0 0 3px rebeccapurple;
  outline: none;
}

.form-field small {
  font-size: 12px;
  margin-bottom: 6px;
}

.signup-nav,
.signin-nav,
.add-nav {
  display: flex;
  align-items: center;
  gap: 32px;
}

.signup-nav a,
.signin-nav a {
  text-decoration: none;
  color: rebeccapurple;
  transition: transform 0.3s;
}

.signup-nav a:hover,
.signin-nav a:hover {
  transform: scale(1.1);
  border-bottom: 1px solid rebeccapurple;
}

#signup-btn,
#signin-btn,
#add-btn,
#edit-btn {
  cursor: pointer;
  background-color: rgb(106, 90, 205);
  color: #fff;
  font-family: inherit;
  font-size: 18px;
  margin-top: 12px;
  min-height: 40px;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.8);
}

#signup-btn:active,
#signin-btn:active,
#add-btn:active,
#edit-btn:active {
  transform: scale(0.98);
}

/* Dashboard */
.dashboard-parent {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #f3f3f5;
  font-family: "Poppins", sans-serif;
}

.dashboard-navbar {
  position: relative;
  top: 10%;
  width: 10%;
  height: 80%;
}

.dashboard-navbar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}

.dashboard-navbar li {
  list-style: none;
  padding: 4px 12px;
  font-size: 24px;
  border-radius: 8px;
  transition: all 0.3s;
}

.dashboard-navbar li a {
  color: rebeccapurple;
}

.dashboard-navbar li:last-child {
  position: absolute;
  bottom: 15%;
}

.dashboard-navbar li:first-child {
  background-color: rgba(0, 0, 0, 0.1);
}

.dashboard-navbar li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#add-transaction-link {
  color: green;
}

.dashboard-summary {
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  width: 80%;
  height: 80%;
  padding: 15px 30px;
  gap: 32px;
}

.dashboard-summary > div:first-child {
  width: 40%;
}

.dashboard-summary li {
  list-style: none;
}

.dashboard-summary a {
  text-decoration: none;
  color: unset;
}

.transaction-details {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

.transaction-details > div:first-child {
  height: 40%;
}

.transaction-details > div:last-child {
  height: 60%;
}

.transactions-list,
.categories-container,
.chart-container {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  border-radius: 12px;
}

.transactions-container {
  margin-left: 12px;
  margin-bottom: 16px;
}

.transactions-list {
  overflow-y: auto;
  margin-top: 18px;
  height: 85%;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
}

.transactions-list h3 {
  padding: 4px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 12px;
}

.categories-container {
  margin-top: 52px;
}

.chart-container {
  margin-bottom: 64px;
}

.chart-container,
.categories-container {
  margin-right: 12px;
}

.transaction-row a {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 8px;
  transition: all 0.3s;
}

.transaction-row a:hover {
  transform: scale(1.02);
}

.transaction-date {
  width: 50%;
  margin: 12px auto;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.transaction-date:hover {
  border-bottom: 1px solid rgba(102, 51, 153, 0.5);
}

.wallet {
  padding-right: 4px;
  color: rgb(112, 111, 111);
  font-size: 18px;
}

/* Categoreis */
.categories-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category {
  padding: 16px 8px;
  margin: 16px 0;
  border: none;
  border-radius: 16px;
  width: 15%;
  height: 70%;
  text-align: center;
  font-size: 15px;
}

.groceries {
  background-color: #c2e0d0;
}

.utilities {
  background-color: #e0dede;
}

.entertainment {
  background-color: #ffe0d5;
}

.clothing {
  background-color: #d3d3e0;
}

.gifts {
  background-color: #fce4ec;
}

.misc {
  background-color: #fff5e0;
}

.amount {
  margin-top: 25%;
  font-size: 20px;
  font-weight: bold;
}

/* Chart */
.chart-container {
  display: flex;
  align-items: center;
}

/* Rest */
textarea {
  height: 60px;
}

.custom-nav {
  width: 90%;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-nav a,
.custom-nav #goback-btn {
  width: 180px;
  text-align: center;
}

/* .custom-nav a:last-child {
  margin-left: 400px;
} */

.transactions-custom-list {
  margin-top: 16px;
  width: 80%;
}

.transactions-custom-list a {
  all: unset;
}

.show-title {
  margin-top: 16px;
}

.transactions-custom-list ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.transactions-custom-list-multiple ul {
  list-style: none;
  display: flex;
}

.wallet-big {
  font-size: 20px;
  padding-right: 8px;
  color: rgb(112, 111, 111);
}

#edit-transaction {
  color: slateblue;
}

#delete-transaction {
  color: red;
  border: none;
  background: none;
}

#edit-transaction,
#delete-transaction {
  cursor: pointer;
  font-size: 16px;
}

table {
  width: 90%;
  height: auto;
  padding: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  text-align: center;
}

thead {
  font-size: 18px;
  font-weight: 500;
}

table td {
  padding: 6px 0;
}

table td {
  width: 20%;
}

table td:nth-child(1) {
  width: 20%;
}

table td:nth-child(2) {
  width: 20%;
}

table td:nth-child(3) {
  width: 30%;
}

table td:nth-child(4) {
  width: 10%;
}

table td:nth-child(5) {
  width: 10%;
}

table a {
  color: rebeccapurple;
}
